# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'Bappy' , 'age' : 22 , 'gender' : 'male' }

### Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

s={}
type(s)

In [1]:
s={}
type(s)

dict

In [2]:
#1d
dic={'name':'maria','age':21}
dic

{'name': 'maria', 'age': 21}

In [5]:
#mix with keys
dic={(1,2,3):2,'name':'maria'}
dic

{(1, 2, 3): 2, 'name': 'maria'}

In [6]:
# with mixed keys
d2 = {[1,2,3]:33, "name": "Bappy"}
print(d2)

TypeError: unhashable type: 'list'

In [7]:
# 2D dictionary
d3 = {
    "name": "Bappy",
    "college_name": "ABC",
    "semester": 5,
    "subjects": {"DSA":80, "Math":50, "English": 70}

}

print(d3)

{'name': 'Bappy', 'college_name': 'ABC', 'semester': 5, 'subjects': {'DSA': 80, 'Math': 50, 'English': 70}}

In [8]:
d=dict([("name","maria"),("age",21)])
d

{'name': 'maria', 'age': 21}

In [9]:
# duplicate keys
d5 = {"name": "Bappy", "name": "Alex", "age":22, "Gender":"male"}
print(d5)

{'name': 'Alex', 'age': 22, 'Gender': 'male'}

In [10]:
# mutable items as keys
d6 = {[1,2,3]:33, "name": "Bappy"}
print(d6)

TypeError: unhashable type: 'list'

In [11]:
d1 = {"name": "Bappy", "age":22, "Gender":"male"}

In [12]:
d[0]

KeyError: 0

In [13]:
d1[0]

KeyError: 0

In [14]:
d1["name"]

'Bappy'

In [15]:
d3 = {
    "name": "Bappy",
    "college_name": "ABC",
    "semester": 5,
    "subjects": {"DSA":80, "Math":50, "English": 70}

}

In [16]:
d3["subjects"]["Math"]

50

In [17]:
d3["weight"] = 70

In [18]:
d3

{'name': 'Bappy',
 'college_name': 'ABC',
 'semester': 5,
 'subjects': {'DSA': 80, 'Math': 50, 'English': 70},
 'weight': 70}

In [19]:
d3['name'] = "Alex"

In [20]:
d3

{'name': 'Alex',
 'college_name': 'ABC',
 'semester': 5,
 'subjects': {'DSA': 80, 'Math': 50, 'English': 70},
 'weight': 70}

In [21]:
# pop
d1.pop("age")
print(d1)

{'name': 'Bappy', 'Gender': 'male'}

In [22]:
d1.popitem()

('Gender', 'male')

In [23]:
# popiteam
d1 = {"name": "Bappy", "age":22, "Gender":"male"}
d1.popitem()
print(d1)

{'name': 'Bappy', 'age': 22}

In [24]:
# del
d1 = {"name": "Bappy", "age":22, "Gender":"male"}
del d1["name"]
print(d1)

{'age': 22, 'Gender': 'male'}

In [25]:
#clear

d1 = {"name": "Bappy", "age":22, "Gender":"male"}
d1.clear()
print(d1)

{}

In [26]:
d = {"name": "Bappy", "age":22, "gender": "male"}
"name" in d

True

In [27]:
for i in d:
    print(i,d[i])

name Bappy
age 22
gender male

In [28]:
for i in d:
    print(f"{i}:{d[i]}")

name:Bappy
age:22
gender:male

In [29]:
print(min(d))

age

In [30]:
print(max(d))

name

In [31]:
print(len(d))

3

In [32]:
print(sorted(d,reverse=False))

['age', 'gender', 'name']

In [33]:
print(d.keys())

dict_keys(['name', 'age', 'gender'])

In [34]:
print(d.items())

dict_items([('name', 'Bappy'), ('age', 22), ('gender', 'male')])

In [35]:
print(d.values())

dict_values(['Bappy', 22, 'male'])

In [36]:
# update

d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

In [37]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [38]:
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

for i, j in products.items():
   

    if j >0:
        print(i,j)

phone 10
charger 32

In [39]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [40]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}