In [1]:
#arithmatic
t1=(1,2,3,4)
t2=(1,2,3,4)
t1+t2

(1, 2, 3, 4, 1, 2, 3, 4)

In [2]:
t1*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [3]:
1 in t1

True

In [4]:
33 not in t1

True

In [5]:
for i in t1:
    print(i)

1
2
3
4

In [6]:
print(max(t1))

4

In [7]:
print(min(t1))

1

In [8]:
print(sum(t1))

10

In [9]:
print(sorted(t1))

[1, 2, 3, 4]

In [12]:
print(sorted(t1,reverse=True))

[4, 3, 2, 1]

In [13]:
print(len(t1))

4

In [14]:
print(count(2))

NameError: name 'count' is not defined

In [15]:
count(2)

NameError: name 'count' is not defined

In [16]:
t1.count(4)

1

In [17]:
t1.index(2)

1

In [18]:
import sys
t=tuple(range(10000))
l=list(range(10000))
print('tuple',sys.getsizeof(t))
print('list',sys.getsizeof(l))

tuple 80040
list 80056

In [19]:
a=[1,2,3]
b=a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [21]:
a=(1,2,3)
b=a
a=a+(4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)