In [1]:
# arithmetic operations +, *

t1 = (1,2,3,4)
t2 = (5,6,7,8)

t1 + t2 # concatination

(1, 2, 3, 4, 5, 6, 7, 8)

In [2]:
t1 * 4

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [3]:

t1 = (1,2,3,4)

In [4]:
1 in t1

True

In [5]:
1 in not t1

SyntaxError: invalid syntax (3418773224.py, line 1)

In [6]:
1 not in t1

False

In [7]:
# loop

t1 = (1,2,3,4)

for i in t1:
    print(i)

1
2
3
4

In [8]:
# 1D 
s1 = {1,2,3}
print(s1)

{1, 2, 3}