In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(11,1,-1):
    print(i)

11
10
9
8
7
6
5
4
3
2

In [4]:
for i in "maria":
    print(i)

m
a
r
i
a

In [5]:
for i in (11,1,-1):
    print(i)

11
1
-1

In [6]:
for i in [11,1,-1]:
    print(i)

11
1
-1

In [9]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [10]:
row = int(input("Enter the number of rows: ")) 

for i in range(1, row+1):
    for j in range(1,i+1):
        print("*", end="")
    
    print("")

*
**
***
****
*****
******

Loop Control Statements
Break
Continue
Pass

In [11]:
# break

for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [12]:
name = ["Alex", "Mamum", "Bappy", "Ridoy", "Dabasish"]

for i in name:
    if i == "Bappy":
        print(i)
        break

Bappy

In [13]:
# continue

for i in range(1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [14]:
# pass

for i in range(1,11):
    pass